
@font-face {
  font-family:comforta ;
  src: url("./assets/fonts/comforta/Comfortaa-VariableFont_wght.ttf");
}

body {
  margin: 0;
  font-family: comforta;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  text-decoration: none;
}
*::-webkit-scrollbar{
  display: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}